# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/.idea.Nest.iml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\CodeStar\Winter99-CodeStar-AmirHessam-Bolandi\Phase10\Nest\.idea\.idea.Nest\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
