# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/.idea.SearchApp-API.iml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../../../:\CodeStar\Winter99-CodeStar-AmirHessam-Bolandi\Phase11\SearchApp-API\.idea\.idea.SearchApp-API\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
