.content {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 500px;
  gap: 10px;
  opacity: 0.9;
}

.result-box {
  font-family: arsoo, serif;
  font-size: 18px;
  grid-template-rows: 30px auto;

}
.results {
  display: inline-grid;
  grid-template-columns: 245px 245px;
  gap: 10px;

}
