app-contents {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 25vh;
  margin-bottom: 0;
  bottom: 0;
  height: 70vh;
  width: 100vw;
  direction: rtl;
}

